body {
  margin: 0;
  padding: 0;
}

header .d1 {
  display: flex;
  background-color: #434ccc;
  height: 80px;
  width: 100%;
  padding: 16px 10% 16px 10%;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .d1 .logo {
  height: 48px;
  width: 102px;
  color: var(--Text_White, #fff);
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}
header .d1 .d12 {
  display: flex;
  justify-content: space-between;
  text-align: right;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 24px;
  width: 324px;
  margin-left: 38%;
}
header .d1 .d12 a {
  text-decoration: none;
  color: var(--Text_White, #fff);
}
header .d1 button {
  background-color: #434ccc;
  border-color: var(--Text_White, #fff);
  border-radius: 5px;
  width: 170px;
  height: 48px;
  color: var(--Text_White, #fff);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
header .d1 button:hover {
  cursor: pointer;
  background-color: #434aa0;
}
header .d2 {
  background-color: #434ccc;
  width: 100%;
  height: 224px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding-top: 47px;
}
header .d2 p {
  margin: 0px;
  text-align: center;
}
header .d2 p:nth-child(1) {
  color: var(--Text_White, #fff);
  width: 280px;
  height: 80px;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}
header .d2 p:nth-child(2) {
  color: var(--Text_White, #fff);
  height: 32px;
  width: 332px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
header .log {
  display: none;
}
header .ho {
  display: none;
}

.d3 {
  display: flex;
  justify-content: center;
  padding-top: 47px;
}
.d3 div:nth-child(1) {
  margin-right: 32px;
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.d3 div:nth-child(2) {
  width: 403px;
  height: 24px;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
.d3 div:nth-child(2) a {
  text-decoration: none;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
}

@media all and (max-width: 860px) {
  header .d1 {
    position: relative;
    height: 64px;
  }
  header .d1 .logo {
    height: 32px;
    width: 70px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .d1 button {
    display: none;
  }
  header .d1 .log {
    display: block;
    position: absolute;
    right: 5%;
    top: 20px;
    color: var(--Text_White, #fff);
  }
  header .d1 .ho {
    height: 200px;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    left: 70%;
    top: 40px;
    padding: 20px;
    color: brown;
    font-size: larger;
    display: none;
    background-color: var(--Text_White, #fff);
  }
  header .d1 .log:hover ~ .ho {
    display: block;
  }
  header .d12 a {
    display: none;
  }
  header .d2 {
    height: 176px;
    padding-top: 28px;
  }
  header .d2 p:nth-child(1) {
    width: 218px;
    height: 64px;
    font-size: 56px;
    margin-bottom: 13px;
  }
}/*# sourceMappingURL=navstyles.css.map */